@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-BoldItalic';
    src: url('./Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
  font-style: normal;
    src: url('./Ubuntu/Ubuntu-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu-MediumItalic';
    src:  url('./Ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-LightItalic';
    src: url('./Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}